<launch>

  <node name="basic_controls" type="basic_controls" pkg="interactive_marker_tutorials" output="screen"/>
  <node name="dvrk_to_rvinci" type="dvrk_to_rvinci" pkg="dvrk_to_rvinci" output="screen"/>
  <node name="dvrk_camera_mode" 
	type="dvrk_camera_mode" 
	pkg="dvrk_camera_mode" 
	output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz"
         args="-d $(find rvinci)/launch/rvinci.rviz" output="screen"/>
</launch>
